@font-face {
    font-family: HelveticaNeue;
    src: url(../../font/Helvetica45Light_22437.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: HelveticaNeue;
    src: url(../../font/Helvetica65Medium_22443.ttf);
    font-style: normal;
    font-weight: 700;
}