
.footer-responsive{
    display: none;
}
.footer-responsive-text{
    display: none;
}
@media screen and (max-width: 1053px) {

    .footer-margin{
        padding-top: 20px;
    }
    .footer-responsive{
        display: block;
        background-color: $border-color-F5;
        .card-header{
            padding: 0;
        }
        .award{
            display: flex;
            background-color: white;
            justify-content: space-between;
            width: 100%;
            padding: 20px 10px 20px 0;
            &-text{
                font-size: 19px;
                font-weight: 700;
                color: black;
                padding-left: 20px;
            }
            &-icon{
                margin-right: 10px;
                i{
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    font-size: 11px;
                    font-weight: 700;
                    color: $border-color-085FF7;
                    background-color: white;
                    border: 1px solid $border-color-CC;
                }
            }
        }
        .award-padding{
            padding-left: 20px;
        }
        .card-body{
            padding: 0 ;
        }
        .award-no-border{
            border-bottom: none;
        }
    }
    .award-item, .award-items{
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid $border-color-CC;
        &-text{
            font-size: 15px;
            color: black;
        }
        &-icon{
            i{
                font-size: 14px;
                color:$border-color-CC;
            }
        }
    }
    .award-items{
        background-color: white;
        padding: 15px 20px !important;
        &-text{
            font-size: 19px !important;
        }
    }
    .footer-responsive-text{
        display: block;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        padding: 20px;
        margin-bottom: 60px;
    }
    .footer-height{
        background-color: $border-color-CC;
        height: 10px;
    }
}