.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #ffffff;
    overflow: hidden;
}

.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #FCAF29;
}

.empty-stars:before,
.full-stars:before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 18px;
}

.empty-stars:before {
    -webkit-text-stroke: 1px #FCAF29;
}

.full-stars:before {
    -webkit-text-stroke: 1px #FCAF29;
}



.rating {
    background-color: #FFFBDE;
    border-radius: 20px;
    unicode-bidi: bidi-override;
    direction: rtl;
    padding: 3px 25px;
    margin-right: 20px;
}

.rating>span {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
    color: $star;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
    content: "\2605";
    position: absolute;
    color: $star;
}