$text-color-45: rgb(45,45,45);
$text-color-75: rgb(75,75,75);
$text-color-111: rgb(111,111,111);
$border-color-085FF7: #085FF7;
$border-color-EC: #ECECEC;
$border-color-CC: #CCCCCC;
$border-color-F5: #F5F5F5;
$border-color-F9: #F9F9F9;
$star : #FFB100;
$a-color:rgb(20, 151, 255);